@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-theme-1: var(--color-bg1);
  --color-theme-2: var(--color-bg2);
}

:root {
  --color-primary: #ef4444;
  --color-secondary: #3b82f6;
  --color-bg1: #18181b;
  --color-bg2: #09090b;
}

body {
  background-color: var(--color-bg2);
  color: #ffffff;
}
